*{
    margin: 0;
}

body{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    min-height: 100vh;
    font-family: 'Artifika',Verdana, Geneva, Tahoma, sans-serif;
}

nav{
    display: grid;
    background-color: #0ea5e9;
    grid-template-rows: 1fr 2fr 2fr;
    grid-row: 1/span 2;
    color: white;
    justify-content: center;

}
header{
    display: grid;
    background-color: white;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: row;
    padding-left: 30px;
    justify-content: space-between;
    box-shadow: 0px 3px 3px rgb(195, 188, 188);
    z-index: 1;
}
.main{
    display: grid;
    grid-row: 3/span;
    grid-column: 3/span;
    background-color: #bae6fd;
    gap: 10px;
    grid-template-columns: 4fr 2fr;
    padding-top: 10px;
}

li{
    list-style: none;
    font-size: 1.5rem;
    display: flex;
    gap: 20px;
    font-family: 600;
}

.dash>svg{
    height: 50px;
    width: 50px;
}
li>svg{
    height: 30px;
    width: 30px;
}

.dash{
    margin: 10px;
    margin-left: 1px;
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    place-content: start;
    gap: 10px;
    padding-left: 5px;
    font-size: 2rem;
    font-weight: 600;
}
svg{
    height: 25px;
    width: 25px;
}

ul{
    cursor: pointer;
    padding-left: 14px;
}
input{
    background-color: #bae6fd;
    border: none;
    border-radius: 20px;
    height: 1.5rem;
    flex-grow: 1;
    flex-shrink: 0;
}
img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.profile>img{
    height: 55px;
    width: 55px;
    border-radius: 50%;
}

button{
    background-color: #0ea5e9;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    height: 30px;
    width: 80px;
    font-weight: 700;
}

.head-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.profile{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 8fr;
}
.search{
    display: flex;
    align-items: center;
    justify-content: start;
}
.hello{
    font-size: 0.7rem;
}
.uname{
    font-weight: 600;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
    gap: 20px;
    
}
.tp-right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-right: 20px;
}
.card{
    background-color: white;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 10px solid orange;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 4px grey;
    
}
.left{
    display: grid;
    grid-template-rows: 1f 6fr;
    padding-left: 10px;
    padding-bottom: 20px;
}
.con{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    font-size: 0.7rem;
}
.right{
    display: grid;
    /* gap: 10px; */
}
.extra>svg{
    height: 15px;
    width: 15px;
}
.extra{
    display: flex;
    justify-content: end;
    gap: 5px;
}
.ann-con{
    display: grid;
    background-color: white;
    font-size: 0.7rem;
    width: 300px;
    gap: 10px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px grey;
}
.un,.name{
    font-size: 0.7rem;
}
.trend-con{
    display: flex;
    background-color: white;
    font-size: 0.7rem;
    width: 270px;
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px grey;
}
button:hover{
    background-color:#64cbfb ;
    transform: scale(1.2);
}
li:hover{
    background-color: #64cbfb;
    transform: scale(1.2);
}